<div class="jumbotron">
  <center>
    <h1>Bienvenidos a Turismo</h1>
    <img src="http://cdn2.actitudfem.com/media/files/imagecache/large/images/chile_turismo.jpg" alt="Trurismo en Chile">
    <br>
    <%= link_to "Check out our Turist", turists_path, class: "btn btn-default" %>
  </center>  
</div>
